.roof{
      background-image: url(../../img/roof.jpeg);
      background-size: cover;
      background-position: 50%;
      height: 100vh;
}

.roof .h1 {
      text-align: center;
      position: relative;
      top: 10rem;
      line-height: 50px;
}